@page
@model MortgageModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    window.appData = @Html.Raw(Json.Serialize(Model.MortgageScenarios));
</script>

<div id="react-root"></div>
<script type="module" src="/react-app/dist/mortgage.js"></script>
<link rel="stylesheet" href="/react-app/dist/mortgage.css">
