@page
@model CVModel
@{
    ViewData["Title"] = "Home page";
}

<script>
 
</script>

<div id="cv-root"></div>
<script type="module" src="/react-app/dist/cv.js"></script>
<link rel="stylesheet" href="/react-app/dist/cv.css">
