@page
@{
    ViewData["Title"] = "Home page";
    // Optionally, you can set Layout = "_Layout"; if not already set by convention.

}
<style>
    header {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<!-- This is where your React app will be mounted -->
<div id="root"></div>

@section Styles {
    <link rel="stylesheet" href="~/test-taking-client/dist/assets/index.css" />
}

@section Scripts {
    <script type="module" src="~/test-taking-client/dist/assets/index.js"></script>
}
